---
import '../styles/global.css'; // Importa el archivo CSS global con Tailwind
import Footer from '../components/Footer.astro'; // Importa el componente de pie de página
import Menu from '../components/Menu.astro'; // Importa el componente de menú
import Contact from '../components/Contact.astro'; // Importa el componente de contacto
---

<!doctype html>
<html lang="es"> <!-- Define el tipo de documento como HTML y establece el idioma como español -->
    <head>
        <meta charset="UTF-8" /> <!-- Establece la codificación de caracteres como UTF-8 -->
        <meta name="viewport" content="width=device-width" /> 
        <!-- Configura la ventana gráfica para que se ajuste al ancho del dispositivo -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> 
        <!-- Enlace al favicon del sitio en formato SVG -->
        <meta name="generator" content={Astro.generator} /> 
        <!-- Metaetiqueta que indica el generador del sitio (Astro) -->
        <title>Web Astro</title> 
        <!-- Título de la página que aparece en la pestaña del navegador -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />
        <!-- Enlace a la fuente Open Sans desde Google Fonts -->
    </head>
    <body class="font-sans flex flex-col min-h-screen">
        <!-- Contactos y menú fijos en la parte superior -->
        <div class="fixed top-0 w-full z-50">
            <Contact></Contact>
            <Menu></Menu>
        </div>
        <!-- Contenido principal con margen superior para evitar que sea tapado -->
        <div class="flex-grow mt-[100px]">
            <slot /> 
            <!-- Punto de inserción para contenido dinámico que será proporcionado por otras páginas o componentes -->
        </div>
        <Footer></Footer>
        </Footer>
    </body>
</html>