---
import EleccionesReact from './EleccionesReact.jsx'; // Importa el componente React
---

<div class="flex justify-center items-center">
    <EleccionesReact client:load /> <!-- Asegúrate de que se renderice en el cliente -->
</div>