---
let precioMin = 0;
let precioMax = 1000;
let precioSeleccionado = 500;
---

<div class="max-w-md mx-auto p-4 bg-gray-200 rounded shadow">
    <h1 class="text-2xl font-bold text-center">Filtros</h1>
</div>