---
import '../styles/global.css'; // Importa el archivo CSS global con Tailwind
import Layout from '../layouts/Layout.astro'; // Importa el componente de diseño principal
import ImagenesMov from '../components/ImagenesMov.astro'; // Importa el componente de imágenes móviles
---

<Layout>
    <h1 class="text-center text-2xl font-bold mb-4">PÁGINA PRINCIPAL</h1>

    <!-- Componente de carrusel de imágenes <ImagenesMov />  --->

    <p class="text-center mb-3">Bienvenido a nuestra tienda de telefonía móvil. Aquí encontrarás los mejores teléfonos y tarifas del mercado.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-6">
        <div class="p-6 rounded shadow">
            <h2 class="text-lg font-bold">Teléfonos Destacados</h2>
            <p>Descubre los últimos modelos de teléfonos móviles con las mejores características.</p>
        </div>
        <div class="p-6 rounded shadow">
            <h2 class="text-lg font-bold">Tarifas Especiales</h2>
            <p>Consulta nuestras tarifas competitivas y elige la que mejor se adapte a tus necesidades.</p>
        </div>
        <div class="p-6 rounded shadow">
            <h2 class="text-lg font-bold">Ofertas Exclusivas</h2>
            <p>No te pierdas nuestras ofertas especiales por tiempo limitado. ¡Aprovecha ahora!</p>
        </div>
    </div>
</Layout>
